        body {
            background-color: #121212; /* Dark background for dark mode */
            color: white; /* Light text color */
        }
        .serpiente {
            max-width: 100%;
            border-radius: 8px;
        }
        .contributions {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .golden-snake {
            display: inline-block;
            width: 100%;
            height: auto;
        }
